# Visual Studio
.vs/
*.user
*.suo

# Build output
Bin/
thepool/Bin/
obj/

# NuGet packages
packages/
thepool/packages/
*.nupkg

# Publish profiles & publish helper
App_Data/PublishProfiles/
thepool/App_Data/PublishProfiles/
website.publishproj
thepool/website.publishproj

# Sensitive local configs
thepool/Web.config
thepool/Web.Debug.config
