<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ApiUsername" value="REPLACE_WITH_API_USERNAME" />
    <add key="ApiPassword" value="REPLACE_WITH_API_PASSWORD" />
    <add key="DbUser" value="REPLACE_WITH_DB_USERNAME" />
    <add key="DbPassword" value="REPLACE_WITH_DB_PASSWORD" />
    <add key="EmailAddress" value="pool@example.com" />
    <add key="EmailPassword" value="REPLACE_WITH_EMAIL_PASSWORD" />
    <add key="CcAddress" value="cc@example.com" />
    <add key="BaseUrl" value="http://www.bellfootball.com" />
    <add key="ApiBaseUrl" value="https://api.mysportsfeeds.com/v1.1/pull/nfl" />
    <add key="SmtpHost" value="mail16.ezhostingserver.com" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true">
      <assemblies>
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <machineKey decryptionKey="C78AD9C3D9DAAA9A1C849E30801A69E216DF4D54718DEA7E" validationKey="2EA7FDDAC9FC52B6AEF438AF968BF570FF7E80AFA9BEA2404B0FC9464087A192C2265CC7D5ADFCC27AC875E95445B039E3A0EEE7700A1B3DD739425965633D7D" />
    <trust level="Full" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom />
</configuration>
<!--ProjectGuid: a520c345-0b54-4a62-89d6-2a9d1d64c1c2-->